/angular-dashboard-framework/angular-dashboard/bin
/angular-dashboard-framework/angular-dashboard/obj
/angular-dashboard-framework/.vs/angular-dashboard/v14/.suo
/angular-dashboard-framework/.vs/angular-dashboard/v15/.suo
