/angular-dashboard-framework/angular-dashboard/bin
/angular-dashboard-framework/angular-dashboard/obj
/angular-dashboard-framework/.vs/angular-dashboard/v14/.suo
/angular-dashboard-framework/.vs/angular-dashboard/v15/.suo
/blur-admin/blur-admin/bin
/blur-admin/blur-admin/obj
/blur-admin/blur-admin/node_modules
/blur-admin/blur-admin/bower_components
/blur-admin/.vs
/blur-admin/blur-admin/dev-release
/blur-admin/blur-admin/release
/blur-admin/blur-admin/.tmp
